<nb-card size="xxsmall" class="net-type">

      <div [(ngModel)]="temperatureMode" ngbRadioGroup data-toggle="buttons"
           class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width">
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="cool"/>Kubernetes<!--i class="nb-snowy-circled"></i -->

        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="warm"/>Swarm<!-- i class="nb-sunny-circled"></i -->
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="heat"/>Docker<!-- i class="nb-flame-circled"></i -->
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="fan"/>import<!-- i class="nb-loop-circled"></i -->
        </label>
      </div>

</nb-card>
